body{
  background: linear-gradient(to right, #ff4b1f, #ff9068);
}

.container{
  max-width: 1200px;
  padding-top: 20px;
  margin:0 auto
}

.container h1{
  text-align: center;

}
.card{
   background: linear-gradient(to right, #ff4b1f, #ff9068);
   padding: 20px 30px;
   border-radius: 5px;
   width: 500px;
   margin :0 auto;
   margin-bottom: 30px;
}
.card{
  background: linear-gradient(to right, #ff4b1f, #ff9068);
  padding: 20px 30px;
  border-radius: 5px;
  width: 500px;
  margin :0 auto;
  margin-bottom: 30px;
}

.card label{
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;

}
.card input{
  width: 100%;
  border-radius: 3px;
  border: solid 2px gray;
  margin-bottom: 15px;
  height: 40px;
  font-size: 20px;
}

.card button{
  height: 50px;
  width: 150px;
  background-color: white;
  color: black;
  border-radius: 5px;
}